:root {
    --dark-bd-color: #1F2937;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.hero, footer, header {
    background-color: var(--dark-bd-color);
}

.hero-main-text, .logo-text {
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.hero-text-and-btn {
    width: 50%;
}

.hero > button {
    display: block;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 100px;
    gap: 50px;
}

.logo-text {
    font-size: 24px;
    margin: 16px 0;
}

.header-link, .hero-sec-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-link {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav > ul > li {
    display: inline-flex;
    align-items: center;
}

.fake-image.hero-sec-text {
    width: 50%;
    background-color: grey;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882F6;

}

.signup-btn1, .signup-btn2 {
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    padding: 5px 22px;
    font-weight: bold;
}

.square {
    border: 2px solid #3882F6;
    
}

.signup-btn1 {
    border: none;
}

.signup-btn2 {
    border: 2px solid white;
}

h2 {
    font-size: 32px;
    font-weight: 800;
    color: #1F2937;
}

.thor-quote {
    background-color: #E5E7EB;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.thor-quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin: 0;
}

.thor-quote blockquote {
    margin: 0;
}

.thor-quote figcaption {
    font-size: 22px;
    font-weight: 900;
    color: black;
    align-self: flex-end;
}

.thor-text {
    width: 60%;
    display: flex;
    flex-direction: column;
}
